body {
    background-color: rgb(209, 204, 204);
}


.login {
    text-align: center;
    background-color: rgb(166, 223, 223);
    animation-duration: 1.5s;
    animation-name: anilogin;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-direction: reverse;
}

.forgot {
    text-align: center;
    background-color: rgb(231, 197, 233);
    animation-name: aniforgot;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-direction: reverse;

}

.but {
    background-color: green;
    color: white;
    text-align: center;
    margin-left: 60px;


    /*transform:translateY(-10px)*/


}

.but:hover {
    width: 80px;
    height: 30px;
    transition: width 2s, height 4s;
    translate: 3d();

}


.inde img{
   animation: imga 1s,infinite;
}

.inde {
    background-color: white;
    background-image: url(sun.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 10px;
    margin: 50px auto;
    max-width: 200px;
    padding: 30px;
    animation-duration: 1.5s;
    animation-name: ani;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: none;

}


.inde input {
    border-radius: 50px;
    border: 1px solid green;
   

}

a:hover {
    color: rgb(195, 59, 13);
    background-color: transparent;


}

@keyframes ani {
    from {
        transform: translateX(-300px);
        background-color: rgb(148, 136, 136);
    }

    to {
        transform: translateX(0px);
        background-color: white;

    }


}

@keyframes anilogin {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(-30px);
    }

}

@keyframes aniforgot {
    from {
        transform: translateY(-600px);
    }

    to {
        transform: translateY(-30px);
    }

}
@keyframes imga {
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(-30px);
    }

    
}